h1{
    text-align: center;
}
section{
    width: 70vw;
    border: 1px solid black;
    height: 600px;
     margin: 40px auto;
     background-color: cornflowerblue;
     display: flex;
}

div{
    height: 150px;
    width:150px;
    border: 1px solid black;
    font-size: 30px;
}