*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #0077b6;
    position: fixed;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
    padding:10px;
    margin: 20px;
    margin-left: 10px;
}

#signup{
    position: absolute;
    right: 100%;
}


